*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  min-height:100vh;
  position:relative;
  background-image:linear-gradient(to right,rgb(12, 12, 12),rgb(95, 54, 54));
  overflow-x:hidden;
  overflow-y:scroll;
}

footer{
  height:100px;
  width:100%;
  position:absolute;
  bottom:0;
}

Header{
  z-index:2;
  width:100%;
  position:absolute;
  color:antiquewhite;
}

h1{
  padding:10px;
  background-image:linear-gradient(to right,rgba(12, 12, 12,0.9),rgba(95, 54, 54,0.9));
}
nav{
  margin-top:10px;
  background-image:linear-gradient(to right,rgba(12, 12, 12,0.9),rgba(95, 54, 54,0.9));
  width:100%;
}

nav>ul>li>a:link,nav>ul>li>a:visited,nav>ul>li>a:hover,nav>ul>li>a:active {
  color:antiquewhite;
}

#tacoAndDrink{
  height:150px;
  width:100%;
  object-fit:cover;
}


nav > ul {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

nav > ul > li{
  padding:10px;
  text-decoration:none;
  list-style-type: none;
  padding-inline: 5px;
  flex-grow:1;
  color:antiquewhite;
  font-size:larger;
}

.schedule>p{
  font-size:larger;
  color:white;
}
.schedule>dl{
  display:block;
  margin:10px;
  margin-right:auto;
  width:25%;
  margin-left:25px;
  color:antiquewhite;
}
.schedule{
  display:inline-block;
  width:100%;
  padding:10px;
  font-size:large;
  margin-top:100px;
  background-image:linear-gradient(to right,rgba(12, 12, 12,0.9),rgba(95, 54, 54,0.9));
}

#trayOfTacos{
  width:100%;
  position:absolute;
  z-index: -1;
  height:600px;
  object-fit:cover;
;  border-radius:2%
}
.hoursmain{
  z-index:1;
  margin-top:50px;
  min-height:70vh;
  position:relative;
}

#mainIndex{
  display:flex;
  justify-content:space-around;
  color:white;
}
#menu{
  text-align:center;
  flex-grow:2;
  display:block;
  width:45%;
  min-height:100%;
}
thead,tbody,tfoot{
  min-width:100%;
  flex-grow:1;
}
table{
  padding:20px;
  margin-left:auto;
  margin-right:auto;
  width:400px;
}

#about{
  margin-left:10px;
  flex-grow:1.5;
  min-height:100%;
  display:inline-block;
  max-width:50ch;
  padding:10px;
}

.backToTopContainer{
  display:block;
  width:100%;
  background-color:blanchedalmond;
}


.backToTop{
  display:block;
  text-decoration:none;
  padding:10px;
  height:100%;
  width:100%;
  background-image:linear-gradient(to right,rgba(21, 158, 199,0.8),rgba(113, 27, 67,0.8));
}
.backToTop:visited{
  color:white;
}
.backToTop:link{
  color:white;
}
footer{
  position:static;
  display:block;
  background-color:rgba(0, 0, 0, 0.388);
  color:aliceblue;
  backdrop-filter:blur(15px);
  width:100%;
}
.menuContainer{
  display:flex;
  gap:10px;
  flex-wrap:nowrap;
  position:static;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  border-color:2px solid red;
  padding:25px;
  overflow-x:scroll;  
}
.menuItem{
  display:block;
  border-radius:10px;
  background-image:linear-gradient(to right,rgb(83, 59, 59),rgb(132, 52, 52));
  margin-right:5px;
}
.menuContainer::-webkit-scrollbar{
    width: 10px; /* Width of the vertical scrollbar */
    height: 10px;
    padding-inline:0px; /* Height of the horizontal scrollbar */
}
.menuContainer::-webkit-scrollbar-button{
  display:none;
}
.menuContainer::-webkit-scrollbar-thumb{
  background-image:linear-gradient(to bottom,rgb(83, 22, 22),rgba(255, 0, 0, 1));
  border-radius:50px;
}
.menuContainer::-webkit-scrollbar-track{
  background-color:rgb(0, 0, 0);
}

body::-webkit-scrollbar{
  background-color:transparent;
  width:12px;
  height:12px;
  padding-top:5px;
  padding-bottom:5px;
}

body::-webkit-scrollbar-button{
  display:none; 
}

body::-webkit-scrollbar-thumb{
  background-image:linear-gradient(to bottom,rgba(160, 67, 67, 1),rgba(255, 0, 0, 0.5));
  border-radius:50px;
}
body::-webkit-scrollbar-track{
  background-color:black;
}